@import url('https://fonts.googleapis.com/css2?family=Acme&family=DM+Serif+Display:ital@0;1&family=Fuggles&family=Josefin+Sans&family=Quicksand:wght@600&family=Roboto+Condensed:wght@100;200&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

header {
  background-color:#cdb4db ;
  display:grid;
  grid-template-columns: 150px auto;
  padding-left: 10px;
  font-size: 25px;
}
p{
  font-family:'Roboto',sans-serif;
  font-size: 25px;
  padding-bottom: 40px;
}
main .image{
  width:100%;
}
nav a{
  padding:3%;
  text-decoration: none;
}
nav {
  display: flex;
}

 .logo {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 5%;
    margin-top: 10%;
    margin-left: 10px;
  }
 
  footer {
    background-color:#cdb4db ;
    color: black;
    padding: 25px 10px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1px;
  }
  footer a{
    text-decoration: none;
  }
  footer .social img{
    background-color:#cdb4db;
    border-radius: 50%;
    width: 50px;
  }
.content{
  margin-bottom: 100px;
}
body p{
  font-family:'Robot', ',sans-serif';
  font-size: 25px;
}

h3{
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
}

*{box-sizing: border-box;}

body {
  background-color: #F5EBE0;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 10px;
}

/* Create four equal columns that floats next to each other */
.column {
  float:left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

