header {
  background-color:#cdb4db ;
  display:grid;
  grid-template-columns: 150px auto;
  padding-left: 10px;
}
nav a{
  padding:3%;
  margin-top: 15px;
  font-size: 19px;
  text-decoration: none;
}
nav {
  display: flex;
}
.logo {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 5%;
  margin-top: 10%;
  margin-left: 10px;
}
footer {
  background-color:#cdb4db ;
  color: black;
  padding: 15px 10px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social img{
  background-color:#cdb4db;
  border-radius: 50%;
  width: 50px;
}
footer a {
  text-decoration: none;
  font-size: 19px;
 
}
body p{
  font-size: 19px;
}

h2{
  font-family: 'DM Serif Display', serif;
}
img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 300px;
    float: left;
    padding-top: 5%;
  }
  p{
    text-align: left;
    margin-top: 5%;
    font-size: 23px;
    font-family:'Robot', ',sans-serif';
  }
  
  body{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #f5ebe0;
  }
  
  