@import url('https://fonts.googleapis.com/css2?family=Acme&family=DM+Serif+Display:ital@0;1&family=Fuggles&family=Josefin+Sans&family=Quicksand:wght@600&family=Roboto+Condensed:wght@100;200&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

header {
  background-color:#cdb4db ;
  display:grid;
  grid-template-columns: 150px auto;
  padding-left: 10px;
}

nav a {
  color: black;
  padding: 35px;
  text-align: left;
  margin-top: 1%;
  text-decoration: none;
  font-size: 25px;
}
nav {
  display: flex;
}

.logo {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 5%;
}


.container {
  position: relative;
  width: 100%;

}

.container img {
  width: 100%;
  height: 600px;
}

img {
  float: right;
  margin-top: 10px;
  width: 50%;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f5ebe0;
  color: black;
  font-size: 25px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 300px;
}

.container .btn:hover {
  background-color:#f5ebe0 ;
}

body {
  margin-left:0;
  margin-right: 0;
  background-color: #f5ebe0;
}
h3{
  margin-top: 45%;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
  margin-left: 5%;
}
h4{
  font-size: 25px;
  margin-top: 1%;
  font-family: 'DM Serif Display', serif;
  margin-left: 5%;
}
main 
p {
  text-align: left;
  font-family: 'Roboto',sans-serif;
  font-size:25px;
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  background-color: #cdb4db;
}
footer .social img {
  padding-top: 15px;
  width: 50px;
  height: 50px;
}

footer p a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
footer p {
  font-size: 1.2em;
}
footer a {
  text-align: center;
}
footer {
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social img{
  padding: 5px;
}
