
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.hero-msg {
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-align: center;
    color: cornsilk
}



.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color:#F5F5DC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

header {
    background-color: darksalmon;
    display:grid;
    grid-template-columns: 150px auto;
    padding-left: 30px;
}

nav a:hover {
    background-color: darksalmon;
    color: black;
}

.book:hover{
    background-color: brown;
}

#background {
    background-color: bisque;
    width: 100%;
}




.home-title {
    background-color: antiquewhite;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h1 {
    text-align: center;
}
.msg h2 {
    background-color: darksalmon;
    color: black;
}

p{
    text-align: left;
}

footer {
    background-color: darksalmon;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
    float: right;
}


nav a {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 35px;
}

.contact{
    color: black;
    text-decoration: none;
    font-family: fantasy;
    font-size: 18px;
    background-color: darksalmon;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
}
h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    text-align:left;
    background-color:#d9c2a3;
}

footer .social img {
    padding-top: 15px;
    width: 50px;
    height: 50px;
}


main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero-img {
    width:100%;
}

@media screen and (max-width: 900px) {

    #hero {
        margin-top: 0;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}
h2 .wireframe{
    text-align: center;
}
h3 .home{
    text-align: center;
}
.wireframe h2{
    text-align: center;
}
.home h3{
    text-align: center;
}
.sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3em;
  }
footer {
    text-align: center;
}
h3 {
    text-align: center;
}