
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

nav a {
    text-align: center;
    color: cornsilk
}
p{
    text-align: left;
}
.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
body {
    background-color:#d8f3dc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: darksalmon;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: darksalmon;
    color: black;
}

.book:hover,
.join:hover {
    background-color: brown;
}

#background {
    background-color: bisque;
    width: 100%;
}
nav a {
    background-color: darksalmon;
    color: black;
    text-align: center;
    padding: 35px;
}

.home-title {
    background-color: antiquewhite;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h1 {
    text-align: center;
    color: white;
}

footer {
    background-color: darksalmon;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a:hover {
    background-color: darksalmon;
    color: black;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
    float: right;
}

img .icon {
    width: 80px;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 35px;
}

.book,
.join {
    color: black;
    text-decoration: none;
    font-family: fantasy;
    font-size: 18px;
    background-color: darksalmon;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
}

footer a {
    text-align: center;
    color: darkblue;
    text-decoration: none;
    background-color: darksalmon;
}

footer p {
    font-size: 1.2em;
    background-color: darksalmon;
}
h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: right;
    align-self: right;
    text-align:right;
    color: #d9c2a3;
}

footer .social img {
    padding-top: 15px;
    width: 50px;
    height: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero img{
    width: 1600px;
}
@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }
    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}
h2 .wireframe{
    text-align: center;
}
h3 .home{
    text-align: center;
}
.wireframe h2{
    text-align: center;
}
.home h3{
    text-align: center;
}
.sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3em;
  }
 #h4 img{
    align-items:center;
 }