#content{
    margin:0 auto;
}
nav a{
    text-align:center;
}
#hero-msg h1, #hero-msg h4{
    text-align:center;
}
.button-box{
    text-align:center;
}
main section{
    text-align:center;
}
#background{
    height: 725px;
}
body{
    background-color: antiquewhite;
}
header{
    background-color:aqua;
}
nav a:hover{
    background-color:darkcyan
}
.book, .join{
    background-color: chocolate;
}
.book:hover, .join:hover{
    background-color: brown;
}
#background{
    background-color:bisque;
}
.msg{
    background-color: darkkhaki;
}
footer{
    background-color: chocolate;
}
